@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=DM+Sans:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --verde-oscuro: #0d2b1a;
  --verde-medio: #1a4731;
  --verde-vivo: #22c55e;
  --verde-suave: #dcfce7;
  --naranja: #f97316;
}

html { scroll-behavior: smooth; }
body { font-family: 'Plus Jakarta Sans', sans-serif; }

.font-display { font-family: 'Plus Jakarta Sans', sans-serif; }

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
